<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TFS Visualization</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

</head>
<style type="text/css">
    .demo {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        width: 1024px;
    }
    .demo>div {
        margin-bottom: 20px;
    }
    .demo_button_panel {
        display: flex;
        justify-content: flex-end;
    }
    .demo_button_panel>button {
        margin-left: 10px;
    }
    .demo_box {
        display: flex;
        height: 100px;
        width: 1000px;
        margin-bottom: 20px;
    }
    .color-indicator .block {
        height: 20px;
        width: 50px;
        margin-right: 5px;
    }
    .color-indicator .color-block {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
     .free {
        background-color: white;
    }
     .color-block .free{
         border: 1px solid gray;
     }
    .allocated {
        background-color: black;
    }
    .transparent {
        background-color: rgba(83, 253, 81, 0.41);
    }
    .allocated-overwrite {
        background-color: rgba(98,177,253,0.41);
    }
    .free-overwrite {
        background-color: #9c6f04;
    }
    .file_blocks {
        display: flex;
        flex-direction: row;
        border-left: 1px solid gray;
    }
    .file_blocks .block {
        height: 100px;
        width: 4px;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
    }
    .my_tab {
        margin-top: 20px;
        margin-right: 200px;
    }
    .file_list_container {
        margin-top: 40px;
        width: 200px;
        padding: 25px
    }
    .demo2_log {
        width: 200px;
        margin-top: 40px;
        padding: 25px;
        display: none
    }
    .file_list,.log_list {
        border: 1px solid gray;
        margin-bottom: 20px;
        overflow: auto;
    }
    .file_list {
        height: 300px;
    }
    .log_list {
        height: 550px;
    }

    .file_list .file {
        display: flex;
        border-bottom: 1px solid black;
        padding-left: 10px;
        justify-content: space-between;
    }

    .file_list i.icon {
        cursor: pointer;
    }
    .file_list i.icon:hover {
        color: blue;
    }

    .file_list .header {
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .file_list .header .file_add {
        padding: 5px;
    }
    .file_list .file_name {
        cursor: pointer;
    }
    .event {
        padding: 5px; display: flex; justify-content: space-between;

    }
    .event span {
        margin-right: 5px;
        border-bottom: 1px solid black;
    }
</style>
<body>
<a href="https://github.com/KaitoHH/TransparentFS" target="_blank" class="github-corner"
   aria-label="View source on GitHub">
    <svg width="80" height="80" viewBox="0 0 250 250"
         style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; left: 0; transform: scale(-1, 1);"
         aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
              fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
              fill="currentColor" class="octo-body"></path>
    </svg>
    <style>.github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {
        0%, 100% {
            transform: rotate(0)
        }
        20%, 60% {
            transform: rotate(-25deg)
        }
        40%, 80% {
            transform: rotate(10deg)
        }
    }

    @media (max-width: 500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }

        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }</style>
</a>
<div>
    <div class="my_contrainer" style="display: flex; flex-direction: row">
        <div class="file_list_container" style="">
            <div class="file_list tfs_list">
                <div class="header">
                    <div class="ui blue label" style="padding: 5px; margin: 5px">
                        TFS File
                    </div>
                    <div class="file_add">
                        <input type="text" id="tfs_input_block" class="file-block-input" style="width: 30px">
                        <i class="plus icon tfs_add"></i>
                    </div>
                </div>
                <div class="body">
                    <!--<div class="file" id="file_1">
                        <div class="file_name">
                            file_name
                        </div>
                        <div class="delete delete_file_btn">
                            <i class="delete icon " ></i>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="file_list ufs_list">
                <div class="header">
                    <div class="ui blue label" style="padding: 5px; margin: 5px">
                        User File
                    </div>
                    <div class="file_add">
                        <input type="text" id="ufs_input_block" class="file-block-input" style="width: 30px">
                        <i style="cursor: pointer" class="plus icon ufs_add"></i>
                    </div>
                </div>
                <div class="body">
                </div>
            </div>
        </div>
        <div class="demo2_log" >
            <div class="log_list" id="log_list" style="overflow: auto">
                <div class="header" >
                    <div class="ui blue label" style="padding: 5px; margin: 5px">
                        Event Logs
                    </div>
                </div>
                <div class="body">
                </div>
            </div>
        </div>
        <div>
            <div class="my_tab">
                <h1 class="ui header">
                    TFS Visualization
                    <div style="float: right">
                        <iframe src="https://ghbtns.com/github-btn.html?user=KaitoHH&repo=TransparentFS&type=star&count=true"
                                frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                    </div>
                </h1>
                <div class="ui top attached tabular menu">
                    <a id="demo1_btn" class="item active" >Demo 1</a>
                    <a id="demo2_btn" class="item">Demo 2</a>
                </div>
            </div>
            <div class="demo">
                <div class="color-indicator">
                    <div class="color-block">
                        <div class="block free">

                        </div>
                        Free
                    </div>
                    <div class="color-block">
                        <div class="block transparent">

                        </div>
                        Transparent
                    </div>
                    <div class="color-block">
                        <div class="block allocated">

                        </div>
                        Allocated
                    </div>
                    <div class="color-block">
                        <div class="block free-overwrite">

                        </div>
                        Free-and-Overwritten
                    </div>
                    <div class="color-block">
                        <div class="block allocated-overwrite">

                        </div>
                        Allocated-and-Overwritten
                    </div>
                </div>
<!--                <div class="demo1 demo_button_panel">
                    <button class="ui secondary button">Write</button>
                    <button class="ui button">Delete</button>
                </div>-->
                <div class="demo1 ">
                    <div class=" demo_button_panel" style="margin-bottom: 10px">
                        <div class="ui action input">
                           <button id="demo_1_init" class="ui icon button blue">
                               <i class="icon redo"></i>
                           </button>
                        </div>
                    </div>
                    <div class="demo_box">
                        <div id="file_blocks" class="file_blocks">
                        </div>
                    </div>
                </div>
                <div class="demo2" style="display: none">
                    <div class=" demo_button_panel">
                        <div class="ui action input">
                            <input value="1.5" style="margin-right: 5px"
                                   id="rate" type="number" step="0.1" min="0.1" max="10" >
                            <button id="demo2-go" class="ui icon button green"><i class="icon play"></i></button>
                            <button style="display: none" id="demo2-pause" class="ui icon button blue"><i class="icon pause"></i> </button>
                            <button id="clear_all" disabled class="ui icon button red"><i class="icon paint brush"></i> </button>
                        </div>
                    </div>
                    <div class="ui blue label" style="margin-bottom: 5px">
                        With TFS
                    </div>
                    <div class="demo_box">
                        <div id="tfs_blocks" class="file_blocks">

                        </div>
                    </div>
                    <div class="ui blue label" style="margin-bottom: 5px">
                        Without TFS
                    </div>
                    <div class="demo_box">
                        <div id="ex2_blocks" class="file_blocks">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui mini modal">
    <div class="header">
        File Overwritten
    </div>
    <div class="content">
        <p>File has been overwritten</p>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">ok<i class="checkmark icon"></i>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
<script type="text/javascript">
    $('#demo1_btn').click(function () {
        $('#demo2_btn').removeClass('active');
        $(this).addClass('active');
        $('.demo1').show(500);
        $('.demo2').hide(500);
        $('.file_list_container').css({display:"block", opacity: 0.0}).animate({opacity: 1.0},500);
        $('.demo2_log').css({display:"none", opacity: 0.0}).animate({opacity: 1.0},500);

    });
    $('#demo2_btn').click(function () {
        $('#demo1_btn').removeClass('active');
        $(this).addClass('active');
        $('.demo1').hide(500);
        $('.demo2').show(500);
        $('.file_list_container').animate({opacity: 0.0}, 500, function(){
            $(this).css("display","none");
        });
        $('.demo2_log').animate({opacity: 1.0}, 500, function(){
            $(this).css("display","block");
        });

    });
</script>
<script type="text/javascript">
    const state_bgc_map = {
      'free': 'white','allocated': 'black','transparent': 'rgba(83, 253, 81, 0.41)','allocated-overwrite':'rgba(98,177,253,0.41)','free-overwrite': '#9c6f04'
    };
    bit_state_map = {
        0: 'free',
        1: 'transparent',
        2: 'allocated',
        3: 'free-overwrite',
        4: 'allocated-overwrite'
    };
    const total_blocks = 256;

    init_bit_map = [];
    for (let i = 0; i < total_blocks; i++) {
        init_bit_map.push(0)
    }
    function setColor(bitmaps, blocks_prefix) {
        const diff_indics = [];
        for (let i = 0; i < bitmaps.length; i++) {
            if (bitmaps[i] !== init_bit_map[i]) {
                diff_indics.push(i)
            }
        }
        for (let i = 0; i < diff_indics.length; i++) {
            const diff_index = diff_indics[i];
            init_bit_map[diff_index] = bitmaps[diff_index];
            d3.select('#' + blocks_prefix + diff_index).transition().duration(500).style('background-color', state_bgc_map[bit_state_map[bitmaps[diff_index]]])
        }
    }
</script>
<script type="text/javascript">
    var global_file_id = 1;
    const base_url = '';
    function initBlocks(blocks_ele, block_prefix) {
        for (var i = 0; i < total_blocks; i++) {
            blocks_ele.append('div').attr('class', 'block').attr('id', block_prefix + '_block_' + i).style('background-color', state_bgc_map['free'])
        }
    }
    function initDemo1Blocks() {
        const file_blocks = d3.select('#file_blocks');
        initBlocks(file_blocks, 'demo1');

    }
    function initDemo2Blocks() {
        const tfs_blocks = d3.select('#tfs_blocks');
        const without_tfs_blocks = d3.select('#ex2_blocks');
        initBlocks(tfs_blocks, 'demo2_tfs');
        initBlocks(without_tfs_blocks, 'demo2_nfs');
    }
    function construct_file_ele(file_name, file_id) {
        return $('<div class="file " id=' + file_id + '><div class="file_name">'
            + file_name +
            '</div><div class="delete delete_file_btn"><i class="delete icon " ></i></div></div>')
    }
    function initDeleteEvent() {
        $('.delete_file_btn').click(function () {
            const file_name = $(this).parent().attr('id');
            const method = $(this).parent().parent().parent().hasClass('tfs_list')? 'delete_contrib_file' : 'delete_normal_file';
            $.ajax({
                 url: base_url + '/1',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({method: method,
                    args: {
                        filename: file_name
                    }
                    }),
                success: function(data) {
                    console.log(data);
                    setColor(data['bitmap'], 'demo1_block_');
                    $('#' + file_name).remove();
                }});

        });
    }
    function initAddEvent() {
        $('.tfs_add').click(function () {
            const file_name = 'test_file_' + (global_file_id++);
            const blocks = $('#tfs_input_block').val().trim();
            if (blocks === '' || isNaN(parseInt(blocks))) {
                alert('Please input the valid blocks for TFS file');
                return;
            }
            $.ajax({
                 url: base_url + '/1',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({method: 'add_contrib_file',
                    args: {
                        filename: file_name,
                        blocks: Number.parseInt(blocks),
                    }
                    }),
                success: function(data) {
                    console.log(data);
                    $('.tfs_list .body').append(construct_file_ele(file_name, file_name));
                    setColor(data['bitmap'], 'demo1_block_')
                    initDeleteEvent();
                    initReadFileEvent();
                }});
        });
        $('.ufs_add').click(function () {
            const file_name = 'test_file_' + (global_file_id++);
            const blocks = $('#ufs_input_block').val().trim();
            if (blocks === '') {
                alert('Please input the blocks for user file');
                return;
            }
            $.ajax({
                url: base_url + '/1',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({method: 'add_normal_file',
                    args: {
                        filename: file_name,
                        blocks: Number.parseInt(blocks),
                    }
                    }),
                success: function(data) {
                    console.log(data);
                    $('.ufs_list .body').append(construct_file_ele(file_name, file_name));
                    setColor(data['bitmap'], 'demo1_block_');
                    initDeleteEvent();
                    initReadFileEvent();
                }});

        });
    }
    function initReadFileEvent() {
        $('.file_name').unbind();
        $('.file_name').click(function () {
            const file_name = $(this).text().trim();
            const that = $(this);
            const method = $(this).parent().parent().parent().hasClass('tfs_list')? 'stat_contrib_file' : 'stat_normal_file';
            $.ajax({
                url: base_url + '/1',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    method: method,
                    args: {
                        filename: file_name
                    }
                }),
                success: function (data) {
                    console.log(data);
                    setColor(data['bitmap'], 'demo1_block_');
                    if (data.ret && data.ret.offset === undefined && data.ret.indexOf('overwritten')) {
                        $('.ui.modal>.content>p').text(data['ret']);
                        $('.ui.modal').modal({
                            inverted: true
                        }).modal('show');
                        that.parent().remove();
                        return;
                    }
                    const start_block = data['ret']['offset'];
                    const end_block = start_block + data['ret']['length'];
                    for (let i = start_block; i < end_block; i++) {
                        let block = $('#demo1_block_' + i);
                        let color = block.css('background-color');
                        block.css('background-color', 'red');
                        setTimeout(function () {
                            block.css('background-color', color);
                        }, 1000);
                    }
                }
            })
        });
    }

    function init_file_info() {
        $.ajax({
                url: base_url + '/1/init',
                type: 'get',
                success: function(data) {
                    setColor(data['bitmap'], 'demo1_block_');
                    console.log(data);
                    for (const file_name in data['file_list']) {
                        global_file_id = (Number.parseInt(file_name.split('_')[2]) + 1) > global_file_id ? Number.parseInt(file_name.split('_')[2]) + 1 :global_file_id;
                        const list = data['file_list'][file_name]['type'] === 1 ? $('.tfs_list .body') : $('.ufs_list .body');
                        list.append(construct_file_ele(file_name,
                            file_name));
                    }
                    initReadFileEvent();
                    initDeleteEvent();
                }
    });
    }

    function initResetEvent() {
        $('#demo_1_init').click(function () {
            $.ajax({
                url: base_url + '/1',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    method: 'clear',
                    args: {
                    }
                }),
                success: function(data) {
                    setColor(data['bitmap'], 'demo1_block_');
                    console.log(data);
                    $('.file').remove();
                    global_file_id = 1;
                }
            })
        });
    }
    function initEvent() {
        initDeleteEvent();
        initReadFileEvent();
        initAddEvent();
        initResetEvent();
    }
    initDemo1Blocks();
    initDemo2Blocks();
    initEvent();
    init_file_info();
</script>


<script type="text/javascript">
    let timeInterval = 100;
    let transitionTime = 1000;
    let demo2_tfs_finnal_diff = [];
    let demo2_nfs_finnal_diff = [];

    function resetBlocks() {
        for (var i = 0; i < total_blocks; i++) {
            d3.select('#demo2_tfs_block_' + i).style('background-color', state_bgc_map[0]);
            d3.select('#demo2_nfs_block_' + i).style('background-color', state_bgc_map[0]);
        }
    }


    function setBlockColor(selector, state) {
         d3.select(selector)
                    .transition().duration(transitionTime).style('background-color', state_bgc_map[bit_state_map[state]]);
    }

    function addEventToLog(event) {
        /*let log = $('<div class="event" >\n' +
            '<span>' + event['method'] + '</span>\n' +
            '<span>' + event['args'][0] + '</span>\n' +
            '<span>' + event['args'][1] ? event['args'][1] : '' + '</span>\n' +
            '</div>')*/
        let log = $('<span  class="event"><span>' + event['method'].substring(0, event['method'].length - 5) + '</span><span>'
            + event['args'][0] + '</span><span>' + (event['args'][1] ? event['args'][1] : '') + '</span></div>');
        $('.demo2_log .body').append(log);
    }

    function set_blocks(items) {
        demo2_tfs_finnal_diff = items[items.length -1]['tfs_diff'];
        demo2_nfs_finnal_diff = items[items.length -1]['nfs_diff'];
        for (let i = 0; i < items.length - 1; i++) {
            let item = items[i];
            const tfs_diff = item['tfs_diff'];
            const nfs_diff = item['nfs_diff'];
            const event = item['event'];
            setTimeout(function () {
                    addEventToLog(event);
                    var ele = document.getElementById('log_list');
                    ele.scrollTop = ele.scrollHeight;
                }, transitionTime / 2 + timeInterval * i);
            for (let j = 0; j < tfs_diff.length; j++) {
                const blockIndex = tfs_diff[j][0];
                const state = tfs_diff[j][1];
                setTimeout(function () {
                    setBlockColor('#demo2_tfs_block_' + blockIndex,state);
                }, timeInterval * i);
            }
            for (let j = 0; j < nfs_diff.length; j++) {
                const blockIndex = nfs_diff[j][0];
                const state = nfs_diff[j][1];
                setTimeout(function () {
                    setBlockColor('#demo2_nfs_block_' + blockIndex, state);
                }, 100 * i);
            }
        }
        setTimeout(function () {
        $('#clear_all').attr('disabled', false);
        }, 100 * items.length)
    }

    function initClearEvent() {
        $('#clear_all').click(function () {
            for (let j = 0; j < demo2_tfs_finnal_diff.length; j++) {
                const blockIndex = demo2_tfs_finnal_diff[j][0];
                const state = demo2_tfs_finnal_diff[j][1];
                setBlockColor('#demo2_tfs_block_' + blockIndex,state);
            }
            for (let j = 0; j < demo2_nfs_finnal_diff.length; j++) {
                const blockIndex = demo2_nfs_finnal_diff[j][0];
                const state = demo2_nfs_finnal_diff[j][1];
                setBlockColor('#demo2_nfs_block_' + blockIndex,state);
            }
        });
    }


    function initGoEvent() {
        $('#demo2-go').click(function () {
            $('.event').remove();
            let rate = $('#rate').val().trim();
            if (rate === '') {
                rate = 1.5
            }
            if (isNaN(Number.parseFloat(rate)) || parseFloat(rate) <= 0 || parseFloat(rate) > 10) {
                alert('The rate is not valid');
                return;
            }
            resetBlocks();
            $.ajax({
                url: base_url + '/2?rate=' + Number.parseFloat(rate),
                type: 'get',
                success: function(data) {
                    set_blocks(data['items']);
                    setTimeout(function () {
                        $('#demo2-go').show();
                        $('#demo2-pause').hide();
                        }, timeInterval *  data['items'].length);
                }});
            $('#demo2-go').hide();
            $('#demo2-pause').show();
        })
    }
    function initPauseEvent() {
        $('#demo2-pause').click(function () {
            $.ajax({
                url: base_url + '/demo2/pause',
                success: function(data) {
                    $('#demo2-go').show();
                    $('#demo2-pause').hide();
                }});
            $('#demo2-go').show();
            $('#demo2-pause').hide();
            d3.select('#demo2_block_61').transition().duration(1000).delay(1000).style('background-color', state_bgc_map['allocated']);
            setTimeout(function () {
                d3.select('#demo2_block_61').transition().duration(1000).delay(1000).style('background-color', state_bgc_map['transparent'])
            }, 1000);
        })
    }
    initGoEvent();
    initPauseEvent();
    initClearEvent();
</script>
</body>
</html>